__pycache__/
CNN/Cifar10/
CNN/saved_models/alex.pt
CNN/logs/
CNN/tensorboard.ipynb
RNN/train/
RNN/preprocessing.ipynb
RNN/working_sample.wav
RNN/workspace.ipynb
RNN/extracted_features/features_training.pkl
RNN/extracted_features/silence_detection_training.pkl
RNN/bin.py